$app_prefix: amc

// Modules
.text--danger-#{$app_prefix}
	color: #a00

	&:hover
		color: #f00
		text-decoration: none

// States
.is-hidden-#{$app_prefix}
	display: none

// Helpers
.h-pull-left-#{$app_prefix}
	float: left

.h-pull-right-#{$app_prefix}
	float: right

// Mixins
=box-shadow($value)
	-webkit-box-shadow: $value
	box-shadow:         $value